* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mr_container {
    padding: 0 5rem 0 5rem;
}

.mr_container #logo {
    background: url('../images/header-middle.png');
    height: 7rem;
    position: relative;
    overflow: hidden;
}

.mr_container #logo::before {
    width: 512px;
    content: '';
    background: url('../images/header-before.png') no-repeat;
    position: absolute;
    left: 0;
    height: 100%;
}

.mr_container #logo::after {
    width: 375px;
    content: '';
    background: url('../images/header-after.png') no-repeat;
    position: absolute;
    right: -5rem;
    height: 100%;
}

.mt_header {
    box-shadow: 0 0.25rem 0.125rem 0 rgb(0 0 0 / 3%);
}

#content .switch-day.top {
    padding-bottom: 0.8rem;
    margin-bottom: 0.8rem;
    border-bottom: 1px solid #e0e0e0;
}

#content .switch-day.bottom {
    padding-top: 0.8rem;
    margin-top: 0.8rem;
    border-top: 1px solid #e0e0e0;
}

#content .switch-day > .col-md-4:nth-child(2) {
    text-align: center;
}

#content .switch-day > .col-md-4:last-child {
    text-align: right;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.cursor {
    cursor: pointer;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.table_content {
    font-size: 12px;
}

#bookingModal table {
    font-size: 10px;
}

.spinner input {
    text-align: right;
}

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 2%;
    vertical-align: middle;
    display: table-cell;
}

.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 4px;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table tbody tr td.active {
    background-color: #e45826;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 6px 8px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table {
    border-bottom: 2px solid #009879;
}

.styled-li {
    cursor: pointer;
    color: #666666;
    transition: all .1s ease-in;
    width: fit-content;
}

.styled-li:hover {
    color: #000000;
    text-decoration: #666666;
}
